:root
{
    --cover-color1-rgba: rgba(6, 194, 203,0.8);
    --cover-color2-rgba: rgba(144,238,144,0.8);
}

.Cover
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    background-image: linear-gradient(to right bottom, var(--cover-color2-rgba), var(--cover-color1-rgba)), url(https://res.cloudinary.com/aagaaz-bvcoe/image/upload/v1580407452/Assets/cover2.png) ;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.Cover-Heading1
{
    font-size: 4.5rem;
    animation-name: moveInDown;
    animation-duration: 2s;
    letter-spacing: 10px;

    font-family: var(--brand-font);
    /* animation-delay: 0.5s; */
}
.Cover-Heading2
{
    font-size: 2rem;
    animation-name: moveInUp;
    animation-duration: 2s;
    letter-spacing: 2px;
    /* animation-delay: 0.5s; */
}


@keyframes moveInDown
{
    0%
    {
        opacity: 0;
        transform: translateY(-50px);
    }

    75%
    {
        transform: translateY(10px);
    }

    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}

@keyframes moveInUp
{
    0%
    {
        opacity: 0;
        transform: translateY(50px);
    }

    75%
    {
        transform: translateY(-10px);
    }

    100%
    {
        opacity: 1;
        transform: translateY(0px);
    }
}