.SocialMedia-Icons-Links
{
    padding: 0.5rem;
    margin: 1rem;
}

.SocialMedia
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

#Youtube-Icon
{
    color: #c4302b;
}

#Instagram-Icon
{
    color: #dd2a7b;
}

#Facebook-Icon
{
    color: #3b5998;
}

#Email-Icon
{
    color: #D44638;
}

#Twitter-Icon
{
    color: #00acee;
}

#Telephone-Icon
{
    color:green
}

@media (max-width: 600px)
{
    .SocialMedia-Icons-Links
    {
        padding: 0.5rem;
        margin: 1rem;
    }
    
}