.Team
{
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 0 2rem;
    width: 100vw;
    
}
.Team-CoreTeam, .Team-ExTeam
{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.Team-CoreTeam-Cards, .Team-ExTeam-Cards
{
    display: flex;
    flex-direction: row;
}


/* Media Queries */


@media (max-width: 600px)
{
    .Team-CoreTeam-Cards, .Team-ExTeam-Cards
    {
        display: flex;
        flex-direction: column;
    }
}