.Team
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 1rem 2rem 0 2rem;
    width: 100vw;
    
}
.Team-CoreTeam, .Team-ExTeam
{
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
}

.Team-CoreTeam-Cards, .Team-ExTeam-Cards, .Team-Heads-Cards
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align:center;
    flex-wrap: wrap;

    width: 100vw;
}


/* Media Queries */


@media (max-width: 600px)
{
    .Team-CoreTeam-Cards, .Team-ExTeam-Cards, .Team-Heads-Cards
    {
        display: flex;
        flex-direction: column;
    }
}