:root
{
  --primary-color: black;
  --secondary-color: #06c2cb;
  --secondary-color-rgba: rgba(6, 194, 203,0.5);
}

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;


  /* background: linear-gradient(to right bottom, var(--secondary-color), lightgreen); */
  background: var(--secondary-color-rgba);

}

.Section-Heading
{
  font-size: 3rem;
}


/*.App-logo {*/
/*  height: 40vmin;*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #09d3ac;*/
/*}*/
