.SocialMedia-Icons-Links
{
    padding: 1rem;
    margin: 1rem;
}

#Instagram-Icon
{
    color: #dd2a7b;
}

#Facebook-Icon
{
    color: #3b5998;
}

#Email-Icon
{
    color: #D44638;
}

#Twitter-Icon
{
    color: #00acee;
}

#Telephone-Icon
{
    color:green
}